* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0efef;
}

.container {
    display: flex;
    min-height: 100vh;
}

header {
    background-color: #d9434e;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f0f0f0;
    display: flex;
    align-items: center;
}

.logo img {
    color: #ebe7e7;
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.language-selector {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

.sidebar {
    background-color: #d9434e;
    color: white;
    width: 250px;
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.menu-item {
    padding: 10px 0;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(241, 241, 241, 0.1);
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.dashboard-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

/* Styles for the sidebar and dropdown */
.menu-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu a {
    display: block;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
}

.submenu a:hover {
    color: #007bff;
}

.menu-item.active+.submenu {
    display: block;
}