* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 810px;
    height: 100%;
    max-height: 600px;
    border: 13px solid #CB3232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.header {
    align-self: stretch;
    height: 108px;
    background-color: #CB3232;
}

.logo {
    width: 116px;
    height: 103px;
}

.logo-text {
    text-align: center;
}

.my-text {
    color: rgb(141, 35, 35);
    font-size: 32px;
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    word-wrap: break-word;
}

.duytan-text {
    color: rgb(185, 47, 47);
    font-size: 32px;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    word-wrap: break-word;
}

.title {
    width: 810px;
    text-align: center;
    color: #BD351B;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    word-wrap: break-word;
}

.form-container {
    width: 787px;
    height: 445px;
    position: relative;
}

.input-field {
    width: 787px;
    margin-bottom: 30px;
    position: relative;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #301E1E;
    line-height: 20px;
    word-wrap: break-word;
}

.input-field input {
    width: 100%;
    height: 75px;
    padding: 15px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.login-button {
    width: 787px;
    height: 103px;
    background-color: #CB3232;
    border: none;
    border-radius: 20px;
    color: #F6F6F6;
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    word-wrap: break-word;
}

.login-button:hover {
    background-color: darkred;
}