<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập Ký túc xá Đại học Duy Tân</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@900&family=Luckiest+Guy&family=Montserrat:wght@700&family=Work+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="header"></div>
      <img
        src="https://via.placeholder.com/116x103"
        alt="Logo Duy Tân"
        class="logo"
      />
      <div class="logo-text">
        <span class="my-text">my<br /></span>
        <span class="duytan-text">DUYTÂN</span>
      </div>
      <div class="title">KÝ TÚC XÁ <br />ĐẠI HỌC DUY TÂN</div>
      <div class="form-container">
        <form action="#" method="post">
          <div class="input-field">
            <label for="username">Tên đăng nhập</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="input-field">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit" class="login-button">ĐĂNG NHẬP</button>
        </form>
      </div>
    </div>
  </body>
</html>
