<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chào mừng đến với Ký Túc Xá Đại Học Duy Tân</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="message-box">
        <h1>Chào mừng đến với quản lý Ký Túc Xá Đại Học Duy Tân</h1>
        <button onclick="window.location.href='login.html'">Bắt Đầu</button>
      </div>
    </div>
  </body>
</html>
